* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'titillium_webblack';
  src: url("fonts/titilliumweb-black-webfont.woff"); }

@font-face {
  font-family: 'titillium_webbold';
  src: url("fonts/titilliumweb-bold-webfont.woff"); }

@font-face {
  font-family: 'titillium_webthin';
  src: url("fonts/titilliumweb-extralight-webfont.woff"); }

@font-face {
  font-family: 'titillium_weblight';
  src: url("fonts/titilliumweb-light-webfont.woff"); }

@font-face {
  font-family: 'titillium_webregular';
  src: url("fonts/titilliumweb-regular-webfont.woff"); }

@font-face {
  font-family: 'titillium_websemibold';
  src: url("fonts/titilliumweb-semibold-webfont.woff"); }

html, body {
  font-family: "titillium_webregular", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #ededed;
  color: #999999; }

a {
  text-decoration: none;
  color: #c48931; }
  a:hover {
    color: #c48931; }

.clear {
  clear: both; }

.loading-indicator {
  position: fixed;
  top: 40%;
  left: 47%;
  z-index: 100; }

h1, h2, h3 {
  font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.table {
  display: table; }
  .table .row {
    display: table-row; }
    .table .row .cell {
      display: table-cell; }

#wrapper {
  width: 100%;
  height: 100%; }

#toggle-left, #toggle-right {
  position: fixed;
  top: 60px;
  width: 10px;
  height: 46px;
  background: #999999;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 8;
  display: none; }
  @media screen and (max-width: 960px) {
    #toggle-left, #toggle-right {
      display: block; } }
  @media screen and (max-width: 480px) {
    #toggle-left, #toggle-right {
      top: 110px; } }

#toggle-left {
  border-radius: 0 0 5px 0;
  left: 0; }
  #toggle-left.on {
    left: 160px; }

#toggle-right {
  border-radius: 0 0 0 5px;
  right: 0; }
  #toggle-right.on {
    right: 449px; }
  @media screen and (max-width: 480px) {
    #toggle-right.on {
      right: 279px; } }

#header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(white, #ededed);
  background-image: linear-gradient(white, #ededed);
  z-index: 10; }
  @media screen and (max-width: 480px) {
    #header {
      height: 110px; } }
  #header .logo {
    float: left;
    margin: 5px 20px 0 0; }
    @media screen and (max-width: 480px) {
      #header .logo {
        float: none;
        text-align: center;
        margin-bottom: 10px; } }
  #header .tagline {
    float: left;
    padding-top: 10px;
    font-size: 16px; }
    @media screen and (max-width: 960px) {
      #header .tagline {
        padding-top: 0;
        width: 220px; } }
    @media screen and (max-width: 480px) {
      #header .tagline {
        display: none; } }
  #header .search {
    float: right;
    margin-right: 10px; }
    @media screen and (max-width: 480px) {
      #header .search {
        float: left; } }
    #header .search input {
      height: 28px;
      width: 300px;
      background: white url("../img/search-icon.png") 98% 50% no-repeat;
      padding: 5px 30px 5px 10px;
      border-radius: 3px; }
      @media screen and (max-width: 960px) {
        #header .search input {
          width: 180px; } }
  #header .avatar {
    float: right;
    background: #cdcc33 url("../img/arrow-down.png") 92% 50% no-repeat;
    height: 40px;
    width: 60px;
    padding: 2px; }
    #header .avatar img {
      max-height: 100%; }

#container {
  height: 100%;
  padding: 60px 0 0 180px; }
  @media screen and (max-width: 960px) {
    #container {
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (max-width: 480px) {
    #container {
      padding-top: 110px; } }

#left-sidebar {
  width: 160px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #bdbdbd;
  background-color: #bdbdbd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdbdbd), color-stop(100%, #aeaeae));
  background-image: -webkit-linear-gradient(#bdbdbd, #aeaeae);
  background-image: linear-gradient(#bdbdbd, #aeaeae);
  z-index: 8;
  padding: 80px 10px 10px 20px;
  box-shadow: inset -3px 63px 5px #999999;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  @media screen and (max-width: 960px) {
    #left-sidebar {
      left: -160px; }
      #left-sidebar.on {
        left: 0; } }
  @media screen and (max-width: 480px) {
    #left-sidebar {
      padding-top: 130px;
      box-shadow: inset -3px 113px 5px #999999; } }
  #left-sidebar a {
    color: white; }
  #left-sidebar .action {
    width: 110px;
    height: 40px;
    background: url("../img/stream-bg.png") top left no-repeat;
    position: relative;
    padding: 12px 0 0 20px;
    margin-bottom: 20px; }
    #left-sidebar .action a {
      font-family: "titillium_websemibold", Helvetica, Arial, sans-serif; }
    #left-sidebar .action img {
      position: absolute;
      top: 5px;
      right: 0; }
  #left-sidebar .tags ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #left-sidebar .tags ul li {
      margin-bottom: 7px; }
      #left-sidebar .tags ul li a {
        padding: 5px 10px 5px 40px;
        display: inline-block; }
      #left-sidebar .tags ul li.doing a {
        background: url("../img/doing.png") center left no-repeat; }
      #left-sidebar .tags ul li.todo a {
        background: url("../img/todo.png") center left no-repeat; }
      #left-sidebar .tags ul li.done a {
        background: url("../img/done.png") center left no-repeat; }

#main {
  overflow: hidden; }
  #main h2 {
    font-size: 22px;
    color: white;
    margin: 0; }
  #main h3 {
    font-size: 16px;
    color: #999999;
    font-family: "titillium_webregular", Helvetica, Arial, sans-serif;
    margin: 0; }
  #main section.content {
    display: block;
    float: left;
    margin-right: 2.01406%;
    width: 63.56641%; }
    #main section.content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 960px) {
      #main section.content {
        display: block;
        float: left;
        margin-right: 3.16844%;
        width: 100%;
        margin-right: 0; }
        #main section.content:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      #main section.content {
        display: block;
        float: left;
        margin-right: 10.1484%;
        width: 100%;
        margin-right: 0; }
        #main section.content:last-child {
          margin-right: 0; } }
    #main section.content .box {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 31.22104%;
      margin-top: 20px;
      margin-bottom: 20px;
      min-height: 100px;
      border-radius: 5px 5px 0 0;
      background: white; }
      #main section.content .box:last-child {
        margin-right: 0; }
      @media screen and (max-width: 960px) {
        #main section.content .box {
          display: block;
          float: left;
          margin-right: 3.16844%;
          width: 31.22104%; }
          #main section.content .box:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        #main section.content .box {
          display: block;
          float: left;
          margin-right: 10.1484%;
          width: 100%;
          margin-right: 0; }
          #main section.content .box:last-child {
            margin-right: 0; } }
      #main section.content .box .header {
        position: relative;
        padding: 0 10px; }
        #main section.content .box .header a {
          position: absolute;
          top: 2px;
          right: 3px;
          width: 30px;
          padding: 6px 0 0 10px;
          height: 30px; }
          #main section.content .box .header a:hover {
            opacity: .8; }
      #main section.content .box.todo {
        border: 1px solid #e35d28; }
        #main section.content .box.todo .header {
          background: #e35d28;
          background-color: #e35d28;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e35d28), color-stop(50%, #c65223), color-stop(100%, #af481f));
          background-image: -webkit-linear-gradient(#e35d28, #c65223, #af481f);
          background-image: linear-gradient(#e35d28, #c65223, #af481f); }
      #main section.content .box.doing {
        border: 1px solid #fbaf3f; }
        #main section.content .box.doing .header {
          background: #fbaf3f;
          background-color: #fbaf3f;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbaf3f), color-stop(50%, #c48931), color-stop(100%, #c08630));
          background-image: -webkit-linear-gradient(#fbaf3f, #c48931, #c08630);
          background-image: linear-gradient(#fbaf3f, #c48931, #c08630); }
      #main section.content .box.done {
        border: 1px solid #cdcc33;
        margin-right: 0; }
        #main section.content .box.done .header {
          background: #cdcc33;
          background-color: #cdcc33;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdcc33), color-stop(50%, #a2a135), color-stop(100%, #9d9d26));
          background-image: -webkit-linear-gradient(#cdcc33, #a2a135, #9d9d26);
          background-image: linear-gradient(#cdcc33, #a2a135, #9d9d26); }
  #main section.items {
    padding: 10px 10px 0 10px;
    margin-top: 10px; }
    #main section.items .item {
      padding: 8px;
      position: relative;
      border: 1px solid #999999;
      border-radius: 3px;
      margin-bottom: 10px;
      background: #ededed; }
      #main section.items .item h3 {
        background: url("../img/item-bg.png") 0 3px no-repeat;
        padding-left: 15px;
        padding-right: 35px;
        line-height: 20px; }
      #main section.items .item .time {
        color: #fbaf3f;
        font-family: "titillium_weblight", Helvetica, Arial, sans-serif;
        margin-top: 5px;
        font-style: italic; }
      #main section.items .item .avatar {
        position: absolute;
        top: 10px;
        right: 7px;
        padding: 2px;
        background: white;
        box-shadow: 0 1px 2px #999999; }
      #main section.items .item.active {
        background: #fcd2c1; }
        #main section.items .item.active h3 {
          color: black;
          font-family: "titillium_websemibold", Helvetica, Arial, sans-serif; }
        #main section.items .item.active .time {
          font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
          font-style: normal;
          color: black; }
          #main section.items .item.active .time span {
            font-style: italic; }
  #main section.sidebar {
    display: block;
    float: left;
    margin-right: 2.01406%;
    width: 34.41953%;
    margin-right: 0;
    background: white;
    border: 1px solid #cccccc;
    border-right: none;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    #main section.sidebar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 960px) {
      #main section.sidebar {
        width: 450px;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 59px;
        z-index: 6;
        right: -450px;
        max-height: 100%;
        overflow: auto; }
        #main section.sidebar.on {
          right: 0; } }
    @media screen and (max-width: 480px) {
      #main section.sidebar {
        width: 280px;
        right: -280px; } }
    #main section.sidebar .nav {
      background: #999999;
      background-color: #bdbdbd;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdbdbd), color-stop(100%, #aeaeae));
      background-image: -webkit-linear-gradient(#bdbdbd, #aeaeae);
      background-image: linear-gradient(#bdbdbd, #aeaeae);
      color: white;
      margin: 0;
      padding: 8px;
      box-shadow: inset 0 0 10px #999999;
      font-family: "titillium_weblight", Helvetica, Arial, sans-serif; }
      #main section.sidebar .nav li {
        margin-right: 2px; }
        #main section.sidebar .nav li.active a, #main section.sidebar .nav li:hover a {
          background: #999999;
          border-radius: 3px; }
        #main section.sidebar .nav li a {
          color: white;
          cursor: pointer;
          border: none;
          padding: 5px 10px; }
    #main section.sidebar .items {
      margin-top: 0; }
    #main section.sidebar .header {
      padding: 10px 10px 0 10px;
      margin-top: 10px; }
      #main section.sidebar .header .action {
        float: left; }
        #main section.sidebar .header .action .add {
          padding: 5px 10px 5px 40px;
          margin-bottom: 7px;
          background: url("../img/doing.png") center left no-repeat;
          display: inline-block;
          color: #fbaf3f; }
      #main section.sidebar .header .total {
        float: right;
        color: #fbaf3f; }
        #main section.sidebar .header .total .number {
          font-family: "titillium_webbold", Helvetica, Arial, sans-serif; }
    #main section.sidebar .categories {
      list-style: none;
      margin: 0;
      padding: 10px; }
      #main section.sidebar .categories h3 {
        background: #fbaf3f;
        background-color: #fbaf3f;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbaf3f), color-stop(100%, #c08630));
        background-image: -webkit-linear-gradient(#fbaf3f, #c08630);
        background-image: linear-gradient(#fbaf3f, #c08630);
        color: white;
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        padding: 5px 10px;
        margin: 10px 0;
        line-height: 20px;
        border-radius: 3px;
        cursor: pointer;
        margin: 5px 0; }
      #main section.sidebar .categories ul {
        list-style: none;
        padding: 0 20px;
        margin: 0; }
        @media screen and (max-width: 480px) {
          #main section.sidebar .categories ul {
            padding: 0 10px; } }
        #main section.sidebar .categories ul h3 {
          background: #cdcc33;
          background-color: #cdcc33;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdcc33), color-stop(100%, #9d9d26));
          background-image: -webkit-linear-gradient(#cdcc33, #9d9d26);
          background-image: linear-gradient(#cdcc33, #9d9d26); }
        #main section.sidebar .categories ul li {
          position: relative; }
          #main section.sidebar .categories ul li .count {
            position: absolute;
            top: 5px;
            right: 10px;
            color: white;
            font-family: "titillium_websemibold", Helvetica, Arial, sans-serif; }
