@font-face {
    font-family: 'titillium_webblack';
    src: url('fonts/titilliumweb-black-webfont.woff');
}
@font-face {
    font-family: 'titillium_webbold';
    src: url('fonts/titilliumweb-bold-webfont.woff');
}
@font-face {
    font-family: 'titillium_webthin';
    src: url('fonts/titilliumweb-extralight-webfont.woff');
}
@font-face {
    font-family: 'titillium_weblight';
    src: url('fonts/titilliumweb-light-webfont.woff');
}
@font-face {
    font-family: 'titillium_webregular';
    src: url('fonts/titilliumweb-regular-webfont.woff');
}
@font-face {
    font-family: 'titillium_websemibold';
    src: url('fonts/titilliumweb-semibold-webfont.woff');
}